.home-image {
  background: url(../assets/books-1281581_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 80vh;
  position: relative;
  background-attachment: fixed;
}

.filter:after {
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.group1 {
  color: beige;
}
